.floatingHeader {
  position: fixed;
  top: 0;
  visibility: hidden;
  z-index: 1;
  border-top: 1px solid #428bca;
  border-radius: 0px;
}

.absoluteHeader {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  border-bottom: 1px solid transparent;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
